@import url("https://fonts.googleapis.com/css2?family=Merienda&family=Neucha&family=Roboto:wght@300;400;500;700&family=Slackey&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merienda&family=Neucha&family=Roboto:wght@300;400;500;700&family=Slackey&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0 50px;
  background: url("mountains.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fffed9;
  max-height: 100vh;
}

.quote-container {
  width: 950px;
  margin: 50px auto 20px;
}

.card-container {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

h1,
h2 {
  font-family: "Merienda";
}

h1 {
  font-size: 36px;
}

p {
  font-size: 16px;
  letter-spacing: 1px;
  color: #fffed9;
}

hr {
  max-width: 950px;
  border-top: 2px solid #fffed9;
  border-bottom: none;
}

.link-wrap {
  text-align: center;
}

.show-articles {
  margin-top: 60px;
  font-size: 20px;
  border: 2px solid #fffed9;
  padding: 6px 12px;
  display: inline-block;
  cursor: pointer;
}

.show-articles:hover {
  transform: scale(0.98);
}

.show-articles:hover {
  opacity: 1;
}

.card {
  width: 200px;
  min-height: 260px;
  background-color: rgba(95, 93, 187, 0.8);
  border-radius: 0px 20% 0px 20%;
  border: 2px solid #fffed9;
  position: relative;
  -webkit-box-shadow: 5px 6px 12px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 5px 6px 12px 0px rgba(0, 0, 0, 0.34);
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#news {
  display: none;
}

.card-content {
  padding: 15px 15px;
}

.btn {
  text-decoration: none;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  padding: 4px 12px;
  font-weight: bold;
  color: #fffed9;
  background-color: rgba(70, 44, 65, 0.1);
  border: 2px solid #fffed9;
}

.btn:hover {
  background-color: rgba(70, 44, 65, 0.2);
}
